 body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    padding: 10px, 100px, 100px, 100px;
    color: #5E08FF;
    text-align: center;
    background-color:powderblue ;

}
h2{
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

}
.newsimg{
    max-width: 100%;
  height: auto;
  top: 10%;
  left: 10%;
  position: absolute;
  
}
h4{
    font-size: 40%;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}